# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Configuration
python/settings.json
python/config.json
python/music_panel_state.json

# Local Data
python/icons/
python/UI Taskbar Icons/  # Depends if you want to bundle these or not
python/web/temp/
python/*.db
python/*.db-shm
python/*.db-wal
python/network_history.json
python/test_init.db
*.log

# IDEs & Tools
.vscode/
.idea/
.vercel/
.agent/
.agents/
.agents/*
!.agents/rules/
!.agents/workflows/
web/

# Native Build files
helxaid_native/build/
helxaid_native/bin/
helxaid_native/obj/
*.pyd
*.exp
*.lib

# Build output
dist/
build/
